<!-- <pre> 
  <code>
     {{ country | json }}
  </code>
</pre> -->

<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title class="countryName">{{ country.name }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <strong>Capital</strong>: {{ country.capital }} <br />
    <strong>Numeric Code</strong>: {{ country.numericCode }} <br />
    <strong>Population</strong>: {{ country.population }} <br />
  </mat-card-content>
  <mat-card-actions>
    <button mat-button routerLink="/">Home</button>
  </mat-card-actions>
</mat-card>
